<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:amq="http://activemq.apache.org/schema/core"
       xmlns:jms="http://www.springframework.org/schema/jms"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context.xsd
                        http://activemq.apache.org/schema/core
                        http://activemq.apache.org/schema/core/activemq-core-5.12.1.xsd
                        http://www.springframework.org/schema/jms
                        http://www.springframework.org/schema/jms/spring-jms-4.1.xsd">


    <context:component-scan base-package="com.joon.web3j" />
    <!-- CachingConnectionFactory 连接工厂 （有缓存功能）-->
    <bean id="cachingConnectionFactory"
          class="org.springframework.jms.connection.CachingConnectionFactory">
        <!-- Session缓存数量 -->
        <property name="sessionCacheSize" value="20" />
        <property name="targetConnectionFactory">
            <bean class="org.apache.activemq.ActiveMQConnectionFactory">
                <!-- MQ地址 账户名 密码-->
                <!--<property name="brokerURL" value="failover:(tcp://107.150.123.60:61616,tcp://107.150.123.61:61616,tcp://107.150.123.62:61616)" />-->
                <!--<property name="brokerURL" value="failover:(tcp://10.0.20.21:61616,tcp://10.0.20.140:61616,tcp://10.0.20.141:61616)" />-->
                <!--<property name="brokerURL" value="tcp://localhost:61616" />-->
                <property name="brokerURL" value="${broker-url}" />
                <property name="userName" value="${userName}" />
                <property name="password" value="${password}" />
                <!-- 是否异步发送 -->
                <property name="useAsyncSend" value="true"/>
            </bean>
        </property>
    </bean>

    <!-- 接收消息的目的地（一个主题）点对点队列 -->
    <bean id="destination" class="org.apache.activemq.command.ActiveMQQueue">
        <!-- 设置消息主题的名字 -->
        <!--<constructor-arg index="0" value="block_message" />-->
    </bean>

    <!-- 接收配置JMS模版 -->
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="cachingConnectionFactory" />
        <property name="defaultDestination" ref="destination" />
        <!-- value为true为发布/订阅模式； value为false为点对点模式-->
        <property name="pubSubDomain" value="false"/>
    </bean>

</beans>